.App-header{
    background-image: url('../../images/back-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: last baseline baseline;
    column-gap: 150px;
  }